.loader
{
    position: absolute;
    height: 10px;
    text-align: center;
}
.loader span 
{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 0px;
    animation: animateLoader 2s linear infinite;
    list-style: none;
    opacity: 0;
}
@keyframes animateLoader
{
    0% 
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    25% 
    {
        transform: translateX(0px);
        opacity: 0;
    }
    50% 
    {
        transform: translateX(0px);
        opacity: 1;
    }
    75% 
    {
        transform: translateX(0px);
        opacity: 0;
    }
    100% 
    {
        transform: translateX(100px);
        opacity: 0;
    }
}
.loader span:nth-child(1)
{
    animation-delay: calc(0.166s * 0);
    background: #111;
}
.loader span:nth-child(2)
{
    animation-delay: calc(0.166s * 1);
    background: #111;
}
.loader span:nth-child(3)
{
    animation-delay: calc(0.166s * 2);
    background: #111;
}
.loader span:nth-child(4)
{
    animation-delay: calc(0.166s * 3);
}
.loader span:nth-child(5)
{
    animation-delay: calc(0.166s * 4);
}
.loader span:nth-child(6)
{
    animation-delay: calc(0.166s * 5);
}
.loader span:nth-child(7)
{
    animation-delay: calc(0.166s * 6);
}
.loader span:nth-child(8)
{
    animation-delay: calc(0.166s * 7);
}
.loader span:nth-child(9)
{
    animation-delay: calc(0.166s * 8);
}
.loader span:nth-child(10)
{
    animation-delay: calc(0.166s * 9);
    background: #111;
}
.loader span:nth-child(11)
{
    animation-delay: calc(0.166s * 10);
    background: #111;
}
.loader span:nth-child(12)
{
    animation-delay: calc(0.166s * 11);
    background: #111;
}
